
{{#if saved}}
<div class="row" style="background-color:green;color:white;justify-content: center;">Event saved</div>
{{/if}}

<br><br>
<div class="row">
<div class="col-sm-3"></div>
<form class="col-sm-6" action="/addEvents" method="POST">

<div class="form-group">
<label >Name</label>
<input class="form-control" name="name"  value="Concerto Arctic Monkeys">
</div>

<div class="form-group">
<label for="">data</label>
<input class="form-control" name="date"  value="123124124">
</div>

<div class="form-group">
<label for="">descrizione</label>
<input class="form-control" name="description"  value="parole a caso">
</div>

<div class="form-group">
<label for="">luogo</label>
<input type="" class="form-control" name="place"  value="Milano, mediolanum forum">
</div>

<div class="form-group">
<label for="">tipo biglietti</label>
<input type="" class="form-control" name="ticketstype"  value="zona A, zona B">
</div>

<div class="form-group">
<label for="">prezzo biglietti</label>
<input type="" class="form-control" name="ticketsprice"  value="30, 40">
</div>

<div class="form-group">
<label for="">max biglietti</label>
<input type="" class="form-control" name="maxticket"  value="3">
</div>

<input type="submit" class="form-control-file" value="Invia">
</form>
</div>
