
<div class="col-sm-3"></div>
<form class="col-sm-6" action="/addUser" method="POST">

<div class="form-group">
<label >Name</label>
<input class="form-control" name="name"  placeholder="Mario Rossi">
</div>

<div class="form-group">
<label for="">Email address</label>
<input class="form-control" name="email"  placeholder="name@example.com">
</div>

<div class="form-group">
<label for="">Ethereum address</label>
<input class="form-control" name="address"  placeholder="0xfe2b66a63bbb006c6895be1d1e5c387806ad264d">
</div>

<div class="form-group">
<label for="">Password</label>
<input type="password" class="form-control" name="password"  placeholder="name@example.com">
</div>

<div class="form-group">
<label for="">Document verification</label>
<input type="file" class="form-control-file"  >
</div>
<input type="submit" class="form-control-file" value="Invia">
</form>
