<br><br>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6" align="center">
<i class="fas fa-user-circle" style="font-size:74px;" ></i><br>
<h2>Pietro</h2>
<br>
<div class="card" style="width:400px">
  <img src='res/images/qr.png' rel='nofollow' alt='qr code'>
  <div class="card-body">
    <h4 class="card-title">Ticket</h4>
    <p class="card-text">Mostra questo biglietto per accedere all'evento</p>
    <a href="#" class="btn btn-primary">Send to</a>
  </div>
</div>
</div>
<form action="/user" method="POST">
<input type="hidden" name="addr" value="0x04383a0240B1A991417f1995aC4d24840f4a8Ea9"></input>
<input type="hidden" name="name" value="poi"></input>
<input type="hidden" name="nounce" value="AAAAAAAAA"></input>
<input type="hidden" name="idEvent" value="0"></input>
<input type="submit" class="btn btn-success" value="Verify"></input>
</form>
{{saved}}
</div>
